<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        box-sizing: border-box;
        overflow-x: hidden;
      }

      .heading {
        background-color: rgb(243, 76, 76);
        padding: 2px 20px;
        text-align: center;
        color: white;
      }

      .heading h1 {
        font-weight: 900;
      }

      .border-around {
        border: 1px solid rgb(218, 218, 218);
      }

      .revert-text {
        padding-right: 30px;
      }

      .para {
        position: relative;
        padding-top: 15px;
      }

      .para span {
        margin-top: 15px;
        font-weight: bold;
      }

      p span {
        position: absolute;
        left: 240px;
        top: 0;
      }

      .details {
        margin-top: 0;
      }

      @media screen and (max-width: 991px) {
        p span {
          left: 240px;
          top: 0;
        }
      }

      @media screen and (max-width: 768px) {
        p span {
          left: 25  0px;
          top: 0;
        }
      }

      @media screen and (max-width: 575px) {
        .revert-text {
          padding: 0 10px;
        }

        p span {
          left: 245px;
          top: 0;
        }

        .details {
          margin-top: 40px;
        }
      }

      @media screen and (max-width: 425px) {
        p span {
          left: 180px;
          top: 0;
        }

        .move {
            padding-top: 30px;
        }
        .move-down {
            padding-top: 15px;
        }

        .details {
          margin-top: 40px;
        }

        .equi {
          margin-top: 0;
        }
      }

      @media screen and (max-width: 375px) {
        p span {
          left: 160px;
          top: 0;
        }

        .move {
            padding-top: 30px;
        }
        .move-down {
            padding-top: 15px;
        }

        .details {
          margin-top: 40px;
        }

        .equi {
          margin-top: 0;
        }
      }

      /* @media screen and (max-width: 375px) {
        .para {
          padding-top: 15px;
        }

        p span {
          left: 175px;
          top: 0;
        }

        .details {
          margin-top: 40px;
        }

        .equi {
          margin-top: 0;
        }

        .align1 {
          margin-top: 0;
        }
      } */

      @media screen and (max-width: 320px) {
        p span {
          left: 130px;
          top: 0;
        }

        .move {
            padding-top: 50px;
        }
        .move-down {
            padding-top: 35px;
        }

        .align1 {
          margin-top: 20px;
        }
      }
    </style>
  </head>

  <body>
    <main>
      <div class="container">
        <div class="border-around">
          <div style="width: 100%">
            <div class="heading">
              <h1>OYO</h1>
            </div>
          </div>
          <div style="width: 100%">
            <h2 style="text-align: center">Payment Receipt</h2>
            <hr />
          </div>
          <div
            style="
              width: 100%;
              display: flex;
              display: -webkit-flex;
              display: -ms-flexbox;
              flex-wrap: wrap;
              padding: 0 30px;
            "
          >
            <div style="width: 45%">
              <p class="para">
                Payer's Name
                <span>:</span>
              </p>
              <p class="para">
                TransactionID
                <span>:</span>
              </p>
              <p class="para move">
                Transaction Amount
                <span class="move-down">:</span>
              </p>
              <p class="para">
                Payment Method
                <span>:</span>
              </p>
              <p class="para">
                Status
                <span>:</span>
              </p>
            </div>
            <div style="width: 60%">
              <div style="margin-left: 15px">
                <p style="padding-top: 15px"><%=name%></p>
                <p style="padding-top: 15px; word-wrap: break-word">
                  <%=transactionId%>
                </p>
                <p style="padding-top: 15px">₹<%=amount%></p>
                <p style="padding-top: 15px" class="align1"><%=type%></p>
                <p style="padding-top: 15px"><%=paymentStatus%></p>
              </div>
            </div>
          </div>
          <div style="padding: 0 30px">
            <div style="margin-top: 30px" class="revert-text">
              <p style="font-size: 18px; font-weight: bold; text-align: center">
                Your payment is successful. We will reach you soon as the
                booking process is complete.
              </p>
            </div>
            <div style="padding: 30px 0px" class="px-3 py-3">
              <p style="font-weight: bold">Support OYO.</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
